html {
    font-family: sans-serif;
  }
div {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
   	width: 200px;
   	height: 120px;
  	line-height: 120px;
  	text-align: center;
  	font-size: 1.125rem;
  	background-color: red;
  	color: white; 
  	text-shadow: 1px 1px 0px black; 
  	border-radius: 8px; 
  	border: 10px solid red; 
  	background: linear-gradient;
}

  
